:root{
    --midgreen:hsl(167, 90%, 24%);
   --darkgreen: hsl(186, 21%, 26%);
   --text: hsl(97, 13%, 80%);
   --lightgreen: hsl(133, 18%, 59%);
   --darkestgreen: hsl(201, 33%, 27%);
   --bluegreen: hsl(201, 64%, 29%);
}


*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
     
 
}
* h1{
    font-size: 2em;
}

body{
    background-color: var(--text);
}




.header{
background-color: var(--darkestgreen);
color: var(--text);
padding: .5em;
margin-left: 5%;
margin-right: 5%;
}


.header h1{
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
;


}

                                                                  /*NAV*/

.nav ul{
    display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 1.5em;
}

.nav ul li{
    margin: 1em;
    text-decoration: none;
}
.nav a:link {
    text-decoration: none;
    color: var(--text);
}
.nav a:visited {
    color: var(--text);
  }




                                                                  /*ABOUT*/
.about {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--darkestgreen);
    margin-left: 15%;
    margin-right: 15%;
}

.hero{
    background-image: url("../images/Portfolio_Image.jpg");
    width: 30em;
    height: 30em;
    background-position: center;
    border-color: var(--darkestgreen);
    background-size: cover;
}


.about p {
    margin-left:20%;
    margin-right: 20%;
    margin-top: 1em;
    color: var(--text);
    font-size: 1.1em;
 

}



                                                                  /*WORK HEADER 1*/

.work{
    margin-left:7%;
    margin-right: 7%;
    margin-top: 5%;
    background-color: var(--darkestgreen);
    color: var(--text);
    height: 5em;
    align-items: center;
}

.work h1 {
margin: 3%;
}

                                                                  /*CONTAINER 1*/
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--darkestgreen);
}

.container a:link {
    text-decoration: none; /* Makes the link not have an underline*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: solid;
    border-width: 3px;
    border-color: var(--text);
    font-family: monospace;
}


                                                                  /*CARD 1*/

    .card1 {
        flex: 2 0 200px;
        height: 25em;
        margin: 1em;
        border-color: var(--text);
        transform: scale(1);
        transition: transform .5s;
        background-image: url("../images/BOWGAME2.png"); 
        background-size:cover;
        background-position: center;  
        title: ;
      }


    .card1 h1 {
        color: var(--text);
        font-size:x-large;
    
    }

    .card1:hover {
        transform: scale(1.008);
        transition: transform 1s 
}

    #css-tooltip1:hover::after {
        content:"BowGame";
        position: absolute;
        left: 1%;
        bottom: 1%;
        min-width: 150px;
        border: 1px #aaaaaa solid;
        background-color:var(--text);
        padding: 12px;
        color: var(--darkestgreen);
        font-size: 200%;
        z-index: 1;
        opacity: 70%;
    }
  
                                                                  /*CARD 2*/

    .card2{
        flex: 1 0 100px;
        height: 15em;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        border-color: var(--darkestgreen);
        transform: scale(1);
        transition: transform .5s;
        background-image: url("../images/bulbasupercloseup.copy.png"); 
        background-size:cover;
        background-position: center;
    }

    .card2 h1 {
        color: var(--darkestgreen);
        font-family:monospace;
        font-weight:bold;
    }

    .card2:hover {
        transform: scale(1.03);
        transition: transform 1s 
    }
      
    #css-tooltip2:hover::after {
        content:"HTML Bulbasaur";
        position: absolute;
        left: 1%;
        bottom: 1%;
        min-width: 50px;
        border: 1px #aaaaaa solid;
        background-color:var(--text);
        padding: 12px;
        color: var(--darkestgreen);
        font-size: 100%;
        z-index: 1;
        opacity: 80%;
        font-family:monospace;
        font-weight:bold;
      }
      
                                                                   /*CARD 3*/

    .card3 {
        
        flex: 1 1 100px;
        height: 15em;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        border-color: var(--darkestgreen);
        transform: scale(1);
        transition: transform .5s;
        background-image: url("../images/horiseon1.png"); 
        background-size:cover;
        background-position: center;  
     }

    .card3 h1 {
        color: var(--text);
        font-family:monospace;
        font-weight:bold;
    }

    .card3:hover {
        transform: scale(1.03);
        transition: transform 1s 
    }
    
    #css-tooltip3:hover::after {
        content:"Horiseon Refactor";
        position: absolute;
        left: 1%;
        bottom: 1%;
        min-width: 50px;
        border: 1px #aaaaaa solid;
        background-color:var(--text);
        padding: 12px;
        color: var(--darkestgreen);
        font-size: 100%;
        z-index: 1;
        opacity: 80%;
        font-family:monospace;
        font-weight:bold;
    }

                                                                         /*CARD 4*/

    .card4 {
        
        flex: 1 1 100px;
        height:15em;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        border-color: var(--text);
        transform: scale(1);
        transition: transform .5s;
        background-color: var(--bluegreen);
        background-image: url("../images/prework.png"); 
        background-size:cover;
        background-position: center;  

    }

    .card4 h1 {
        color: var(--text);
        font-family:monospace;
        font-weight:bold;
    }

    .card4:hover {
        transform: scale(1.03);
        transition: transform 1s 
    }

    #css-tooltip4:hover::after {
        content:"Pre-work Study Guide";
        position: absolute;
        left: 1%;
        bottom: 1%;
        min-width: 50px;
        border: 1px #aaaaaa solid;
        background-color:var(--text);
        padding: 12px;
        color: var(--darkestgreen);
        font-size: 100%;
        z-index: 1;
        opacity: 80%;
        font-family:monospace;
        font-weight:bold;
    }
                                                                    /*CARD 5*/

    .card5{
        flex: 1 0 100px;
        height: 15em;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        border-color: var(--darkestgreen);
        transform: scale(1);
        transition: transform .5s;
        background-image: url("../images/yulgurush.png"); 
        background-size:cover;
        background-position: center;

  }

    .card5 h1 {
        color: var(--darkestgreen);
        font-family:monospace;
        font-weight:bold;
    }

    .card5:hover {
        transform: scale(1.03);
        transition: transform 1s 
    }
      
    #css-tooltip5:hover::after {
        content:"Yulgurush";
        position: absolute;
        left: 1%;
        bottom: 1%;
        min-width: 50px;
        border: 1px #aaaaaa solid;
        background-color:var(--text);
        padding: 12px;
        color: var(--darkestgreen);
        font-size: 100%;
        z-index: 1;
        opacity: 80%;
        font-family:monospace;
        font-weight:bold;
      }
      

                                                                  /*FOOTER*/
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left:7%;
        margin-right: 7%;
        margin-top: 5%;
        background-color: var(--darkestgreen);
        color: var(--text);
        border: solid;
        height: 5em;
        }

    footer h1 {
    margin-left: 2.2%;
    }
    
    footer h2{
        margin: 2%;
    }
        
    footer a:link { 
        text-decoration: none;
        color: var(--text  );
        margin: 2%;
       font-weight: bold;

        
    }

    footer a:visited {
        color: var(--text);
    }


