:root{
    --midgreen:hsl(167, 90%, 24%);
   --darkgreen: hsl(186, 21%, 26%);
   --text: hsl(97, 13%, 80%);
   --lightgreen: hsl(133, 18%, 59%);
   --darkestgreen: hsl(201, 33%, 27%);
   --bluegreen: hsl(201, 64%, 29%);
}


*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
 
}


body{
    background-color: var(--text);
}




.header{
background-color: var(--darkestgreen);
color: var(--text);
padding: .5em;
margin-left: 2%;
margin-right: 2%;
}


.title{
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;
;


}



.nav ul{
    display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
}

.nav ul li{
    margin: 1em;
    
}

.about {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--darkestgreen);
    margin-left: 7%;
    margin-right: 7%;
}

.hero{
    background-image: url("../images/Portfolio_Image.jpg");
    width: 30em;
    height: 30em;
    background-position: center;
    border-color: var(--darkestgreen);
    background-size: cover;
}


.about p {
    margin-left:4em;
}







.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    margin-left: 7%;
    margin-right: 7%;
    background-color: var(--darkestgreen);
    
 
}

.container a:link {
    text-decoration: none; /* Makes the link not have an underline*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: solid;
    border-width: 3px;
    border-color: var(--text);
}





    .project1 {
        /* A flex-basis of 200px sets the starting width */
        /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
        flex: 2 0 350px;
        height: 18em;
        margin: 1em;
        border-color: var(--darkestgreen);
        transform: scale(1);
        transition: transform .5s;
        background-image: url("../images/Bird\ arrow\ in\ flight.png"); 
        background-size:cover;
        background-position: center;  
        
        
      }


    .project1 h1 {
        color: var(--text);
        font-family: monospace;
        font-size:x-large;
        
        
    }

    .project1:hover {
    transform: scale(1.03);
    transition: transform 1s 
}
  











.project2{
    flex: 1 0 100px;
    height: 9em;
    border-style: solid;
    border-width: 1px;
    margin: 1em;
    border-color: var(--darkestgreen);
    transform: scale(1);
    transition: transform .5s;
    background-image: url("../images/bulbasupercloseup.png"); 
    background-size:cover;
    background-position: center;
  }


    .project2 h1 {
        color: var(--darkestgreen);
        font-family:monospace;
        font-weight:bold;
    }


    .project2:hover {
        transform: scale(1.03);
        transition: transform 1s 
    }
      
    
    




 .project3{
    
    flex: 1 1 100px;
    height: 9em;
    border-style: solid;
    border-width: 1px;
    margin: 1em;
    border-color: var(--darkestgreen);
    transform: scale(1);
    transition: transform .5s;
    background-image: url("../images/horiseon.png"); 
    background-size:cover;
    background-position: center;  

 }

 .project3 h1 {
    color: var(--darkestgreen);
    font-family:monospace;
    font-weight:bold;
}


 .project3:hover {
    transform: scale(1.03);
    transition: transform 1s 
}